

<div id="commentButton-@ViewData["ShredId"]" class="col">

    <p class="small"><em><button class="small btn btn-sm btn-link" onclick="comment(@ViewData["ShredId"])">comment</button></em></p>
</div>