
*.dll
*.dll
bin/Debug/netcoreapp3.1/RipMyPaperToShreds.com.exe
bin/Debug/netcoreapp3.1/RipMyPaperToShreds.com.pdb
bin/Debug/netcoreapp3.1/RipMyPaperToShreds.com.runtimeconfig.dev.json
bin/Debug/netcoreapp3.1/RipMyPaperToShreds.com.StaticWebAssets.xml
obj/RipMyPaperToShreds.com.csproj.nuget.g.props
obj/RipMyPaperToShreds.com.csproj.nuget.dgspec.json
obj/project.nuget.cache
obj/project.assets.json
obj/Debug/netcoreapp3.1/staticwebassets/RipMyPaperToShreds.com.StaticWebAssets.xml
obj/Debug/netcoreapp3.1/staticwebassets/RipMyPaperToShreds.com.StaticWebAssets.Manifest.cache
obj/Debug/netcoreapp3.1/RipMyPaperToShreds.com.Views.pdb
obj/Debug/netcoreapp3.1/RipMyPaperToShreds.com.Views.dll
obj/Debug/netcoreapp3.1/RipMyPaperToShreds.com.RazorCoreGenerate.cache
obj/Debug/netcoreapp3.1/RipMyPaperToShreds.com.pdb
obj/Debug/netcoreapp3.1/RipMyPaperToShreds.com.exe
obj/Debug/netcoreapp3.1/RipMyPaperToShreds.com.dll
obj/Debug/netcoreapp3.1/RipMyPaperToShreds.com.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/RipMyPaperToShreds.com.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/RipMyPaperToShreds.com.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/RipMyPaperToShreds.com.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/RipMyPaperToShreds.com.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp3.1/RipMyPaperToShreds.com.assets.cache
obj/Debug/netcoreapp3.1/Razor/Views/Shared/Error.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/Shared/_ValidationScriptsPartial.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/Shared/_LoginPartial.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/Shared/_Layout.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/Home/SubmitPaper.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/Home/Privacy.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/Home/Papers.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/Home/Paper.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/Home/Index.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/Home/Contact.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/Home/About.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/Home/_ViewStart.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/Home/_ViewImports.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/Home/_ShredCard.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/Home/_LoginPartial.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/_ViewStart.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/_ViewImports.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/Register.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/Manage/MyShreds.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/Manage/MyPapers.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/Manage/Index.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/Manage/DeletePersonalData.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/Manage/_ViewImports.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/Manage/_ManageNav.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/Manage/_Layout.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/Logout.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/Login.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/_ViewImports.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/_ViewStart.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/_ViewImports.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/_ValidationScriptsPartial.cshtml.g.cs
bin/Debug/netcoreapp3.1/RipMyPaperToShreds.com.Views.pdb
bin/Debug/netcoreapp3.1/RipMyPaperToShreds.com.Views.dll
bin/Debug/netcoreapp3.1/RipMyPaperToShreds.com.StaticWebAssets.xml
bin/Debug/netcoreapp3.1/RipMyPaperToShreds.com.runtimeconfig.dev.json
bin/Debug/netcoreapp3.1/RipMyPaperToShreds.com.pdb
bin/Debug/netcoreapp3.1/RipMyPaperToShreds.com.exe
bin/Debug/netcoreapp3.1/RipMyPaperToShreds.com.dll
bin/Debug/netcoreapp3.1/RipMyPaperToShreds.com.deps.json
bin/Debug/netcoreapp3.1/RipMyPaperToShreds.com.deps.json
obj/Debug/netcoreapp3.1/RipMyPaperToShreds.com.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/RipMyPaperToShreds.com.assets.cache
bin/Debug/netcoreapp3.1/RipMyPaperToShreds.com.deps.json
obj/Debug/netcoreapp3.1/RipMyPaperToShreds.com.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/RipMyPaperToShreds.com.assets.cache
bin/Debug/netcoreapp3.1/RipMyPaperToShreds.com.deps.json
bin/Debug/netcoreapp3.1/RipMyPaperToShreds.com.dll
bin/Debug/netcoreapp3.1/RipMyPaperToShreds.com.exe
bin/Debug/netcoreapp3.1/RipMyPaperToShreds.com.pdb
bin/Debug/netcoreapp3.1/RipMyPaperToShreds.com.runtimeconfig.dev.json
bin/Debug/netcoreapp3.1/RipMyPaperToShreds.com.StaticWebAssets.xml
bin/Debug/netcoreapp3.1/RipMyPaperToShreds.com.Views.dll
bin/Debug/netcoreapp3.1/RipMyPaperToShreds.com.Views.pdb
obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/_ValidationScriptsPartial.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/_ViewImports.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/_ViewStart.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/_ViewImports.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/Login.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/Logout.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/Manage/_Layout.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/Manage/_ManageNav.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/Manage/_ViewImports.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/Manage/DeletePersonalData.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/Manage/Index.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/Manage/MyPapers.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/Manage/MyShreds.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Areas/Identity/Pages/Account/Register.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/_ViewImports.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/_ViewStart.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/Home/_Comment.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/Home/_CommentButton.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/Home/_LoginPartial.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/Home/_ShredCard.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/Home/_ViewImports.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/Home/_ViewStart.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/Home/About.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/Home/Contact.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/Home/Index.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/Home/Paper.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/Home/Papers.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/Home/Privacy.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/Home/SubmitPaper.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/Shared/_Layout.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/Shared/_LoginPartial.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/Shared/_ValidationScriptsPartial.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Views/Shared/Error.cshtml.g.cs
obj/Debug/netcoreapp3.1/RipMyPaperToShreds.com.assets.cache
obj/Debug/netcoreapp3.1/RipMyPaperToShreds.com.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp3.1/RipMyPaperToShreds.com.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/RipMyPaperToShreds.com.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/RipMyPaperToShreds.com.dll
obj/Debug/netcoreapp3.1/RipMyPaperToShreds.com.exe
obj/Debug/netcoreapp3.1/RipMyPaperToShreds.com.pdb
obj/Debug/netcoreapp3.1/RipMyPaperToShreds.com.RazorCoreGenerate.cache
obj/Debug/netcoreapp3.1/RipMyPaperToShreds.com.Views.dll
obj/Debug/netcoreapp3.1/RipMyPaperToShreds.com.Views.pdb
obj/Debug/netcoreapp3.1/staticwebassets/RipMyPaperToShreds.com.StaticWebAssets.Manifest.cache
obj/Debug/netcoreapp3.1/staticwebassets/RipMyPaperToShreds.com.StaticWebAssets.xml
obj/project.assets.json
obj/project.nuget.cache
obj/RipMyPaperToShreds.com.csproj.nuget.dgspec.json
obj/RipMyPaperToShreds.com.csproj.nuget.g.props
