@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}
        <section id="services" class="pt-5 mt-5">
            <div class="container-fluid">

                <div class="section-title">
                    <h2>@ViewData["Title"]</h2>
                    
                </div>
                <div class="row mb-5">
                    <div class="col-md-3">
                        <partial name="_ManageNav" />
                    </div>
                    <div class="col-md-9">
                        @RenderBody()
                    </div>
                </div>
                
            </div>
        </section>

                @section Scripts {
                    @RenderSection("Scripts", required: false)
                }
