@page
@model RipMyPaperToShreds.com.Areas.Identity.Pages.Account.Manage.MyPapersModel
@{
    ViewData["Title"] = "My Papers";
    ViewData["ActivePage"] = ManageNavPages.MyPapers;
}

    <h4>@ViewData["Title"]</h4>