@page
@model RipMyPaperToShreds.com.Areas.Identity.Pages.Account.Manage.MyShredsModel
@{
    ViewData["Title"] = "My Shreds";
    ViewData["ActivePage"] = ManageNavPages.MyShreds;
}

    <h4>@ViewData["Title"]</h4>