
<div id="commentInput" class="col p-4">
    <input class="rounded small mb-1" size="30" type="text" maxlength="150" min="1" placeholder="comment here" />
    <button id="submitComment" class="btn btn-sm btn-success small">Submit</button><button id="cancelComment" onclick="getCommentButton()" class="btn btn-sm btn-danger small">x</button>
</div>