@using Microsoft.AspNetCore.Identity
@using RipMyPaperToShreds.com.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@*<ul class="navbar-nav">*@
@if (SignInManager.IsSignedIn(User))
{
    <li class="">
        <a class="" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
    </li>
    <li class="">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit" class="p-1 nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>
}
else
{
    <li class="">
        <a class="" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="">
        <a class="" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
@*</ul>*@
