@model IEnumerable<RipMyPaperToShreds.com.Models.ViewModels.ShredCommentsVM>

@{ 
    //var testing = Model
}

<!--Shreds-->
<div id="shredCards" class="overflow-auto col-12 pb-5">
    <!--Start Shred Container-->
    @foreach (var shredVM in Model)
    {
        <partial name="_ShredCard" model="@shredVM" />
    }

</div>