@{
    string logic;

    if (User.Identity.IsAuthenticated)
    {
        logic = $"getShredModual({ViewData["PaperId"]})";
    }
    else
    {
        logic = "getAlartBox()";
    }
 }

    <div id="addButton" class="col-12">
        <button class="btn btn-outline-primary btn-sm" onclick="@logic ">Shred Paper</button>
    </div>

