
@{
    ViewData["Title"] = "About";
}

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
                <h1 data-aos="fade-up">About</h1>
                <h2 data-aos="fade-up" data-aos-delay="400">Designed for people to help improve their grammer via community help</h2>
                @*<div data-aos="fade-up" data-aos-delay="800">
                    <a href="#about" class="btn-get-started scrollto">Get Started</a>
                </div>*@
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left" data-aos-delay="200">
                <img src="~/assets/img/hero-img.png" class="img-fluid animated" alt="">
            </div>
        </div>
    </div>

</section><!-- End Hero -->

<!-- ======= About Us Section ======= -->
<main id="main">
    <section id="about" class="about">
        <div class="container">

            <div class="section-title" data-aos="fade-up">
                <h2>About Us</h2>
            </div>

            <div class="row content">
                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="150">
                    <p>
                        RipMyPaperToShreds.com was writen and started in Johnson City Tennessee by three East Tennessee State Univertisy students
                    </p>
                    <ul>
                        <li><i class="ri-check-double-line"></i> Joshua Trimm - Computer Science Information Technology</li>
                        <li><i class="ri-check-double-line"></i> Stephen Sprinkel - Computer Science Information Systems</li>
                        <li><i class="ri-check-double-line"></i> Daniel Bishop - Computer Scinece Infromation Technology</li>
                    </ul>
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-up" data-aos-delay="300">
                    <p>
                        The idea was born from Joshua Trimm because of his learning disablility, dyslexia. Joshua thought it would be nice to have a community that could share their English work and get feed back.
                        That afternoon, Joshua asked Stephen and Daniel if they would like to be co-founders and the obliged him.
                    </p>
                    @*<a href="#" class="btn-learn-more">Learn More</a>*@
                </div>
            </div>

        </div>
    </section><!-- End About Us Section -->
    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
        <div class="container">

            <div class="section-title" data-aos="fade-up">
                <h2>Founders</h2>
                <p>Made in Johnson City Tennessee</p>
            </div>

            <div class="row">

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up" data-aos-delay="100">
                        <div class="member-img">
                            <img src="~/assets/img/team/team-1.jpg" class="img-fluid" alt="">
                            <div class="social">
                                <a href=""><i class="icofont-twitter"></i></a>
                                <a href=""><i class="icofont-facebook"></i></a>
                                <a href=""><i class="icofont-instagram"></i></a>
                                <a href=""><i class="icofont-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Daniel Bishop</h4>
                            <span>Co-Founder</span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up" data-aos-delay="200">
                        <div class="member-img">
                            <img src="~/assets/img/team/team-2.jpg" class="img-fluid" alt="">
                            <div class="social">
                                <a href=""><i class="icofont-twitter"></i></a>
                                <a href=""><i class="icofont-facebook"></i></a>
                                <a href=""><i class="icofont-instagram"></i></a>
                                <a href=""><i class="icofont-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Stephen Sprinkel</h4>
                            <span>Co-Founder</span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up" data-aos-delay="300">
                        <div class="member-img">
                            <img src="~/assets/img/team/team-3.jpg" class="img-fluid" alt="">
                            <div class="social">
                                <a href=""><i class="icofont-twitter"></i></a>
                                <a href=""><i class="icofont-facebook"></i></a>
                                <a href=""><i class="icofont-instagram"></i></a>
                                <a href=""><i class="icofont-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Joshua Trimm</h4>
                            <span>Co-Founder</span>
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </section><!-- End Team Section -->

</main>