
@{
    ViewData["Title"] = "Papers";
}

<main id="main">
    <section id="services" class="services mt-5">
        <div class="container">
            <div class="section-title" data-aos="fade-up">
                <h2>@ViewData["Title"]</h2>
                <p>Browser all of the current papers.</p>

                <form class="col-12">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search Papers">
                        <span class="input-group-btn">
                            <button class="btn btn-success" type="button">Go!</button>
                        </span>
                    </div>
                 </form>
             </div>
        </div>
    </section>
</main>
