
@{
    ViewData["Title"] = "SubmitPaper";
}

<main id="main">
    <section id="services" class="services">
        <div class="container">
            <div class="section-title" data-aos="fade-up">
                <h2>@ViewData["Title"]</h2>
                <p>Magnam dolores commodi suscipit eius consequatur ex aliquid fug</p>
            </div>
</div>
        </section>
        </main>
